/* Table.module.css */

.table {
    width: 100%;
    background-color: rgba(218, 216, 224, 0.6)
    /* border-collapse: collapse; */
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  .table td input[type="text"] {
    width: 100%; 
  }
  
  .table td input[type="number"] {
    width: 90%; 
  }
  
  .table td input.textarea {
    width: 100%; 
    height: 100px; 
    box-sizing: border-box;
    resize:both;
  }


  